.TodoPage {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;

        input[type='checkbox']{
            transform: scale(2.5);
        }
    }

    .filters-group {
        height: fit-content;
        padding: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;

        .filter-button-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 10px;
        }
    }

    .task-title {
        text-transform: capitalize;
    }

    .card-grid {
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;

        .new-task-card {
            position: relative;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            padding: 12px;
            height: 200px;
            width: 200px;


            button {
                width: 100%;
                height: 100%;
                border: none;
                background-color: transparent;

                &::after {
                    content: '+';
                    color: green;
                    font-size: 7em;
                }
            }
        }
    }

    .card-list {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 239, 218);
        min-width: 180px;
        min-height: 50vh;

box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        transition: all ease-in-out 0.5s;

        &.large {
            min-width: 500px;
        }

        button {
            background-color: beige;
            border: none;
            border: 1px solid black;
            padding: 10px 15px;
            width: fit-content;
            align-self: center;
            border-radius: 4px;
        }

        .list-title {
            color: black;
            font-weight: 600;
            font-size: 1.2em;
            text-decoration: underline;
            padding: 10px 5px;

            @media (max-width: 768px) {
                font-size: 2em;
            }
        }

        &.appear {
            animation-fill-mode: forwards !important;
            animation: fade-in-left 0.5s 1;
        }
    }

    .action-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 5px;
        padding-right: 20px;
        width: -webkit-fill-available;

        .action-button-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        button {
            display: flex;
            justify-content: center;
            border: none;
            background-color: transparent;

            img {
                width: 18px;

                @media (max-width: 768px) {
                    width: 25px
                }
            }
        }

        .checkbox {
            cursor: pointer;
        }
    }

}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translate(100px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}