.EditTaskPopup {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(10px);
    z-index: 10;

    color: white;

    animation-fill-mode: forwards;
    animation: fade-in 1s 1;

    img {
        border-radius: 5px;
        width: 250px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.856);
    }

    .form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;

        width: 300px;
        height: 400px;

        input,
        button,
        textarea {
            padding: 15px;
            border-radius: 6px;
        }
    }

    .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        background-color: transparent;

        &::after {
            content: '×';
            font-size: 5em;
            color: white;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}